repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
        args:
          - --quiet

  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
