name: test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        django-version: ["3.2", "4.0"]
        exclude:
          # Python 3.6 is not compatible with 4.0
          - python-version: 3.6
            django-version: 4.0
          # Python 3.7 is not compatible with 4.0
          - python-version: 3.7
            django-version: 4.0
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -U pip coverage
          pip install "Django~=${{ matrix.django-version }}.0" .

      - name: Run Tests
        run: |
          echo "$(python --version) / Django $(django-admin --version)"
          coverage run --source=dj_database_url --branch -m unittest discover
          coverage report
          coverage xml

      - uses: codecov/codecov-action@v2
